
{%extends 'header.html'%}
{%load static %}

{%block content%}

<div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Your Products</span></h2>
        <div class="row px-xl-5">
            {%for i in wish %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <a href="{% url 'bpdetails' pk=i.product.pk %}"><img class="img-fluid w-100" src="{{i.product.pimage.url}}" alt=""></a>
                        
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{i.product.pname}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{i.product.pprice}}</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    
</div>

{%endblock%}